@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-nunito: var(--font-nunito);
  --font-inter: var(--font-inter);
  --color-transparent-blue: #0273E620; 
  --color-dark-blue: #0F2851;
  --color-active-nav-item: black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-inter);     
  --font-heading: var(--font-nunito); 
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a3e77;
    --foreground: #ededed;
    --color-active-nav-item: var(--color-blue-500);
  }

  .bg-default-200\/50 {
    background-color: color-mix(in oklab, #1a3e77 50%, transparent);
  }

  .dark-scheme-button-white {
    color: white !important;
    border: 1.5px solid white !important;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: var(--font-nunito);
}

@supports (-webkit-touch-callout: none) {
  input,
  select,
  textarea {
    font-size: 16px !important;
  }
}

.active-nav-item {
  color: var(--color-active-nav-item);
}
